

<h2>Blog feed for <%= user %></h2>

<form method="post" action="follow">
  <input type="text" placeholder="Email of blogger to follow" name="email"></input>
  <input type="submit" value="Follow">
</form>

<div id="navigation" class="navbar">
    <a href="#" id="logo">Chalklit</a>
    <a href="chalk.html"><b><u>Home</u></b></a>
    <a href="calendar_yearview.html">Calendar</a>
    <a href="#profile">Profile</a>
    <a href ="favorites.html">Favorites</a>
    <a class="modalLink" href="#modal1">+ New Post</a>
    <a href="landing.html" id="logout">Logout</a>
</div>
<section class="centerUp">
</section>

<div class="overlay" style></div>

<div id="modal1" class="modal">
    <p class="closeBtn">x</p>
    <h2>New Post</h2>
    <form method="post" action="blog/add_post" enctype="multipart/form-data" class="dropzone form-wrapper-01" 
          id="photo-dropzone">
        <input class="inputbox title" type="text" placeholder="Title" name="title"/>
        <textarea class="inputbox content" type="content" name="body"/></textarea>
        <div class="inputbox fallback">
            <input type="file" name="image"/>
        </div>
    </form>
    <button id="publish-button" class="turquoise-flat-button2">Publish</button>
</div>

<% for (var i = 0; i < posts.length; i++) { %>
<div class="post">
        <i class="fa fa-heart-o favorite" ></i><a href="#" class="dropdown-icon"><i class="fa fa-chevron-down">
        <ul class="dropdown">
            <li>Edit</li>
            <li>Delete</li>
        </ul>
        </i></a>
    <span class="date"><%= posts[i].date %></span>
    <span class="title"><%= posts[i].title %></span>
    <% if (posts[i].image) {%>
        <img class="photo" src= "<%=/images/ + posts[i].image %>" alt="Paper Flower Crafts">
    <% } %>
    <%= posts[i].body %>
    <ul class="tags">
       <li><a href="#">art</a></li>
       <li><a href="#">projects</a></li>
    </ul>
</div>
<% } %>

<script>
  $(function() {

    var imageAdded = false;
    var photoDZ;
    $('.modalLink').click(function () {
      photoDZ = Dropzone.instances[0];
      photoDZ.on("addedfile", function(){ imageAdded = true });
    });

    $('#publish-button').click(function () {
      if (imageAdded) {
        photoDZ.processQueue();
        setTimeout(function() {location.reload(true)}, 1000);
      } else {
        $('#photo-dropzone').submit();
      }
    });
  });
</script>
