

<h2>Blog feed for <%= user %></h2>

<a href="blog/new_post">New post</a>

<form method="post" action="follow">
  <input type="text" placeholder="Email of blogger to follow" name="email"></input>
  <input type="submit" value="Follow">
</form>

<div id="navigation" class="navbar">
    <a href="#" id="logo">Chalklit</a>
    <a href="chalk.html"><b><u>Home</u></b></a>
    <a href="calendar_yearview.html">Calendar</a>
    <a href="#profile">Profile</a>
    <a href ="favorites.html">Favorites</a>
    <a class="modalLink" href="#modal1">+ New Post</a>
    <a href="landing.html" id="logout">Logout</a>
</div>
<section class="centerUp">
</section>

<div class="overlay" style></div>

<div id="modal1" class="modal">
    <p class="closeBtn">x</p>
    <h2>New Post</h2>
        <form method="post" action="add_post" enctype="multipart/form-data" class="dropzone form-wrapper-01" 
              id="photo-dropzone">
          <input class="inputbox title" type="text" placeholder="Title" name="title"/>
          <textarea id="" class="inputbox content" type="content" name="body"/></textarea>
            <div class="inputbox fallback">
                <input type="file" name="image"/>
            </div>
            <p><input class="turquoise-flat-button2" type="submit" value="Publish"></p>
        </form>

</div>


<h3>New Post</h3>

<form method="post" enctype="multipart/form-data" action="add_post">
  <input type="text" placeholder="Title" name="title"></input>
  <br>
  <textarea placeholder="Write your new blog post here" cols="60" rows="20" id="new-post" name="body"></textarea>
  <br>
  <input type="file" name="image"><br>
  <br>
  <input type="submit" value="Submit">
</form>



<% for (var i = 0; i < posts.length; i++) { %>
<div class="post">
        <i class="fa fa-heart-o favorite" ></i><a href="#" class="dropdown-icon"><i class="fa fa-chevron-down">
        <ul class="dropdown">
            <li>Edit</li>
            <li>Delete</li>
        </ul>
        </i></a>
    <span class="date"><%= posts[i].date %></span>
    <span class="title"><%= posts[i].title %></span>
    <% if (posts[i].image) {%>
        <img class="photo" src= "<%=/images/ + posts[i].image %>" alt="Paper Flower Crafts">
    <%}%>
    <%= posts[i].body %>
    <ul class="tags">
       <li><a href="#">art</a></li>
       <li><a href="#">projects</a></li>
    </ul>
</div>
<% } %>

